// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{
    background-color: black;
    color: #fff;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1rem;
    // margin-top: 50vh;
}